<h1>Would you like to advertise on my website?</h1>
<p>Please contact me if you would like to pay some big bucks to place ads on this website.</p>
<p>The current price to advertise on this website is <%= ad_rate %>. Can you afford it?</p>